.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  .Logo img {
    height: 70px;
  }
  .Links {
    list-style: none;
    display: flex;
    li {
      margin: 0 10px;
      a {
        color: #555;
        text-decoration: none;
        font-family: "Arial", sans-serif;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
  .Users {
    display: flex;
    gap: 15px;
    Link {
      color: white;
    }
  }
}
