.RegisterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("/menu.jpg") no-repeat;
  background-size: cover;

  .Register {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;

    h2 {
      text-align: center;
      color: white;
    }

    .formGroup {
      margin-bottom: 15px;

      label {
        display: block;
        margin-bottom: 5px;
        color: white;
      }

      input {
        width: 94%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .RegisterButton {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      font-weight: 600;
      font-size: 16px;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
